<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>With Dealer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">With Dealer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img [src] = "handCoinImage"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>
              Predict Any In the World
            </ion-card-subtitle>
            <ion-card-title>
              Instruction
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
          Predict the first num of each block hash (0x0 ~ 0xF), 0x0~0x7 is 'LOW', 0x8~0xF is 'HIGH', Click up, down and Input bet value.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">who are you?</ion-label>
                <ion-input [(ngModel)]="inputName"></ion-input> 
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="ion-text-center">
                <ion-label>Account : {{this.account}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item id="left" (click)="onClickLeft($event)" [ngClass]="questionL" button>
                <div class="ion-text-center">   
                  <ion-item-group class="ion-text-center">
                    <ion-label><ion-icon name="thumbs-down-outline"></ion-icon>  Down</ion-label>
                  </ion-item-group>
                </div>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item id="right"  (click)="onClickRight($event)" [ngClass]="questionR" button>
                <ion-item-group class="ion-text-center">
                  <ion-label class="pointer-events: none"><ion-icon name="thumbs-up-outline"></ion-icon>  Up</ion-label>
                </ion-item-group>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">how much will you bet?</ion-label>
                <ion-input [(ngModel)]="inputValue"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="btnDisabled" (click)="onSubmit()" expand="block">Bet !!!</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-row>
          <ion-col size="12">
            <ion-item>Your Bet History</ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col size="2">
                Result
              </ion-col>
              <ion-col size="3">
                Account
              </ion-col>
              <ion-col size="3">
                Height
              </ion-col>
              <ion-col size="2">
                Bet
              </ion-col>
              <ion-col size="2">
                Value
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of (userDataObs$ | async)">
              <ion-col size="2">
                <ion-text color="success">
                  {{item.result ? item.result: 'Bet'}} 
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="success">
                  {{item.account}}
                </ion-text>
              </ion-col>
              <ion-col size="3">
                <ion-text color="success">
                  {{item.height}}
                </ion-text>
              </ion-col>
              <ion-col size="2">
                <ion-text color="success">
                  {{ item.which === 'right' ? 'Up' : 'Down'}}
                </ion-text>
              </ion-col>
              <ion-col size="2">
                <ion-text color="success">
                  {{item.value}}
                </ion-text>
              </ion-col> 
            </ion-row> 
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>
            Ethereum Block Hash
          </ion-label>
        </ion-item-divider>
        <ion-row>
          <ion-col size="3">
            Time 
          </ion-col>
          <ion-col size="4">
              Block Height
          </ion-col>
          <ion-col size="5" text-center>
              Hash
          </ion-col> 
        </ion-row>
        <ion-row *ngFor="let item of deliveryData.slice().reverse()">
          <ion-col size="3">
            <ion-text color="primary">
              {{ item.timestamp * 1000 | date: 'hh:mm:ss' }}
            </ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text color="primary">
              {{item.number}}
            </ion-text>
          </ion-col>
          <ion-col size="5">
            <ion-text color="primary">
              {{item.hash | shorten: 7}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isIOS">
      <ion-col>
        <ion-card>
          <ion-button (click)="requestPushNotificationsPermission()">
            Enable notifications!
          </ion-button>
          <ion-card-content>
            <ion-text class="selectable">
              {{userRequestedToken}}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
