<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Main</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-img [src] = "handCoinImage"></ion-img>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              Instruction : Predict the first num of each block hash (0 ~ F), 0~7 is 'LOW', 8~F is 'HIGH'
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">who are you?</ion-label>
                <ion-input [(ngModel)]="inputName"></ion-input> 
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item class="ion-text-center">
                <ion-label>Account : {{this.account}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item id="left" (click)="onClick($event)" [ngClass]="questionL">
                <ion-item-group class="ion-text-center">
                  <ion-label><ion-icon name="thumbs-down-outline"></ion-icon> Down</ion-label>
                </ion-item-group>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item id="right"  (click)="onClick($event)" [ngClass]="questionR">
                <ion-item-group class="ion-text-center">
                  <ion-label><ion-icon name="thumbs-up-outline"></ion-icon> Up</ion-label>
                </ion-item-group>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">how much will you bet?</ion-label>
                <ion-input [(ngModel)]="inputValue"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="btnDisabled" (click)="onSubmit()" expand="block">Bet !!!</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider>
          <ion-label>
            Ethereum Block Hash
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of deliveryData.slice().reverse()" textWrap>
          {{ item.timestamp * 1000 | date: 'hh:mm:ss' }} - {{item.number}} - {{item.hash}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
